* {
    margin: 0;
}

.ukraine {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.modal {
    display: flex;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.modal__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
}

.modal__close-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #d4d4d5;
}

.modal__close-btn {
    font-size: 24px;
    border: 0;
    margin: 7px 10px
}

.modal__message-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__message {
    margin: 20px 0px;
    font-weight: 300;
}

.modal.active {
    visibility: visible;
}

.colors {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.colors__select-color-block {
    display: flex;
    margin: 10px 30px;
}

.colors__select-color {
    height: 40px;
    width: 100px;
    border-radius: 2px;
    padding: 0;
    border: 1px solid #3f87a6;
}

.colors__select-item-block {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.colors__select-item {
    margin-left: 30px;
    height: 90px;
    width:200px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.colors__select-item-btn {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 2px;
    background-color: #3f87a6;
}

.js-select-item.js-selected {
    border: 1p solid #f69d3c;
}